In [11]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd 
import pandas_datareader.data as web

style.use('ggplot')

start = dt.datetime(2000,1,1)
end = dt.datetime(2023,9,2)



df = web.DataReader('TSLA','stooq', start = start ,end = end)



print(df.shape)

df.head()

(3318, 5)

              Open      High     Low   Close       Volume
Date
2023-09-01  257.26  259.0794  242.01  245.01  132541640.0
2023-08-31  255.98  261.1800  255.05  258.08  108861698.0
2023-08-30  254.20  260.5100  250.59  256.90  121988437.0
2023-08-29  238.58  257.4800  237.77  257.18  134047603.0
2023-08-28  242.58  244.3800  235.35  238.82  107673727.0